# Dependencies
node_modules/
dist/
build/

# Environment
.env
.env.local
.env.production

# Database (Sync local dev.db for cloud deployment)
!backend/prisma/dev.db
*.db-journal

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/**/migration_lock.toml

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Logs
*.log
npm-debug.log*
